.songs {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
    margin-top: var(--spacing-lg);
    position: relative;
    width: 320px;
}

.gradient {
    position: absolute;
    width: 700px;
    height: 600px;
    background: var(--primary-glow);
    z-index: -1;
    left: 25px;
    top: -50px;
}

@media (min-width: 768px) {
    .songs {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}