@import "react-range-slider-input/dist/style.css";

:root {
  --primary-black: #161619;
  --secondary-black: #25242A;

  --primary-glow: radial-gradient(
    closest-side,
    rgba(179, 50, 250, 0.4),
    rgba(255, 255, 255, 0)
  );

  --header-height: 76px;

  --margin-sm: 16px;
  --margin-md: 26px;
  --margin-lg: 60px;

  --padding-sm: 12px;
  --padding-md: 24px;
  --padding-lg: 48px;
  --padding-xl: 112px;

  --border-radius-sm: 10px;
  --border-radius-md: 20px;
  --border-radius-lg: 50px;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 42px;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  overflow: hidden;
}


body {
  background: var(--primary-black);
  height: 100vh;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#progress-slider {
  height: 4px;
}

#progress-slider .range-slider__thumb[data-lower] {
  width: 0 !important;
}

#progress-slider .range-slider__thumb[data-upper] {
  width: 16px !important;
  height: 16px !important;
  background: #8907E9;
}

#progress-slider.range-slider {
  background: var(--primary-black)
}

#progress-slider .range-slider__range {
  background: linear-gradient(to right, #8b07e964, #b432fa8a) !important;
  /* background: linear-gradient(to right, #8907E94D, #B332FA4D) !important; */
  background-size: 200% 100% !important;
  background-position: 50% 0 !important;
}

#volume-slider {
  width: 4px;
  height: 100px;
}

#volume-slider .range-slider__thumb[data-lower] {
  width: 16px !important;
  height: 16px !important;
  background: white
}

#volume-slider .range-slider__thumb[data-upper] {
  width: 0px !important;
  height: 0px !important;
}

#volume-slider.range-slider {
  background: var(--primary-black)
}

#volume-slider .range-slider__range {
  background: white !important;
  background-size: 200% 100% !important;
  background-position: 50% 0 !important;
}