@import "react-range-slider-input/dist/style.css";

:root {
  --primary-black: #161619;
  --secondary-black: #25242A;

  --primary-glow: radial-gradient(
    closest-side,
    rgba(179, 50, 250, 0.4),
    rgba(255, 255, 255, 0)
  );

  --header-height: 76px;

  --margin-sm: 16px;
  --margin-md: 26px;
  --margin-lg: 60px;

  --padding-sm: 12px;
  --padding-md: 24px;
  --padding-lg: 48px;

  --border-radius-sm: 10px;
  --border-radius-md: 20px;
  --border-radius-lg: 50px;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 42px;


  /* background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%); */
  /* --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  overflow: hidden;
}


body {
  background: var(--primary-black);
  height: 100vh;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#progress-slider {
  height: 4px;
}

#progress-slider .range-slider__thumb[data-lower] {
  width: 0 !important;
}

#progress-slider .range-slider__thumb[data-upper] {
  width: 16px !important;
  height: 16px !important;
  background: #8907E9;
}

#progress-slider.range-slider {
  background: var(--primary-black)
}

#progress-slider .range-slider__range {
  background: linear-gradient(to right, #8b07e964, #b432fa8a) !important;
  /* background: linear-gradient(to right, #8907E94D, #B332FA4D) !important; */
  background-size: 200% 100% !important;
  background-position: 50% 0 !important;
}

#volume-slider {
  width: 4px;
  height: 100px;
}

#volume-slider .range-slider__thumb[data-lower] {
  width: 16px !important;
  height: 16px !important;
  background: white
}

#volume-slider .range-slider__thumb[data-upper] {
  width: 0px !important;
  height: 0px !important;
}

#volume-slider.range-slider {
  background: var(--primary-black)
}

#volume-slider .range-slider__range {
  background: white !important;
  background-size: 200% 100% !important;
  background-position: 50% 0 !important;
}