.thank-you {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-md);
    padding: var(--padding-md);
    background: white;
    border-radius: var(--border-radius-md);
    height: 407px;
    color: black
}

.title {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: var(--spacing-md);
}

.paragraph {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}